body {
    color: coral;
    background-color: lightslategrey;
}

a {
    text-decoration: none;
    color: lightslategrey;
    font-variant-position: super;
}

.shadow {
    text-shadow: 3px 3px 2px rgba(128, 0, 0, 1);
}

ul :nth-child(2n) {
    font-style: italic;
}

ul :nth-child(2n+1) {
    font-weight: bold;
}

ul {
    list-style: circle;
}

a:hover {
    cursor: pointer;
}

p {
    margin: 15px;
    padding: 20px;

}

.cadre {
    border: 1px solid black;
    width: 500px;
    height: 300px;
}

img {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
}

a {
    vertical-align: super;
}